$color-white: #fff;
$color-light: #f8f8f8;
$color-dark: #000000;
$color-purple: #4338ca;
$color-blue: #0069d9;
$color-red: #b73939;
$color-grey: #d3d9de;
$color-green: #5a9e32;
$color-yellow: #bbb23c;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

hr {
	background-color: darken($color-grey, 25%);
}

.custom-input {
	transition: 0.2s ease-in-out border;
	border-radius: 0 !important;

	&:focus {
		box-shadow: none;
		border: 1px solid $color-purple;
	}
}

select {
	text-transform: capitalize;
}

p {
	margin: 0;
}

.full-height {
	height: 100%;
}

.d-grid {
	display: grid;
}

.four-column {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 30vh;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}

.app {
	background-color: $color-light;
	min-height: 100vh;
}

.bg-container {
	background-color: $color-white;
}

.bg-content {
	background-color: $color-white;
}

.bg-primary {
	background-color: $color-purple !important;
}

.bg-secondary {
	background-color: $color-light !important;
}

.text-darken {
	color: $color-dark;
}

.text-primary {
	color: $color-purple !important;
}

.text-danger {
	color: $color-red !important;
}

.btn {
	font-size: 0.8em;
	border-radius: 0;

	&:focus {
		box-shadow: none;
	}
}

.btn-primary {
	background-color: $color-purple;
	border: 1px solid $color-purple;

	&:hover {
		background-color: darken($color-purple, 20%);
	}

	&:disabled {
		background-color: lighten($color-purple, 5%);
		border: 1px solid $color-purple;
	}
}

.btn-success {
	background-color: darken($color-green, 10%);
	border: 1px solid $color-green;

	&:hover {
		background-color: darken($color-green, 20%);
	}

	&:disabled {
		background-color: lighten($color-green, 5%);
		border: 1px solid $color-green;
	}
}

.btn-danger {
	background-color: darken($color-red, 10%);
	border: 1px solid $color-red;

	&:hover {
		background-color: darken($color-red, 20%);
	}

	&:disabled {
		background-color: lighten($color-red, 5%);
		border: 1px solid $color-red;
	}
}

.btn-secondary {
	background-color: $color-light;
	border: 1px solid $color-grey;
	color: $color-dark;
	font-weight: 500;

	&:hover {
		background-color: darken($color-light, 10%);
		color: $color-dark;
		border: 1px solid darken($color-grey, 5%);
	}

	&:focus {
		background-color: darken($color-light, 10%);
		color: $color-dark;
		border: 1px solid darken($color-grey, 5%);
	}
}

.form-switch {
	.form-check-input {
		background-image: url('./icons/square-unchecked.svg');
		&:checked {
			background-image: url('./icons/square-checked.svg');
			background-color: inherit;
			border-color: $color-grey;
		}

		&:focus {
			border-color: $color-grey;
			background-image: url('./icons/square-checked.svg');
		}
	}
	label {
		font-size: 0.9em;
		font-weight: 500;
	}
}

.modal-content {
	border-radius: 0;
}

small {
	font-size: 0.75rem;
}

.skill {
	span:first-of-type {
		text-decoration: none;
		transition: 0.1s ease-in-out all;

		&:hover {
			cursor: pointer;
			color: $color-purple;
		}
	}

	&.active {
		span:first-of-type {
			text-decoration: none;
			transition: 0.1s ease-in-out all;

			&:hover {
				cursor: pointer;
				color: $color-grey;
			}
		}
	}

	&.bg-custom {
		background-color: $color-light;
		border: 1px solid $color-grey;
		color: $color-dark;
	}
}

.icon-wrapper {
	font-size: 1.2rem;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;

	a {
		color: $color-dark;
		text-transform: capitalize;
		transition: all 0.1s ease-in-out;
		text-decoration: none;

		&:hover {
			color: $color-purple;
		}
	}

	.active {
		color: $color-purple;
	}

	.badge {
		font-size: 10px;
	}

	.logout,
	.login {
		span {
			cursor: pointer;

			transition: all 0.1s ease-in-out;

			&:hover {
				color: $color-purple;
			}
		}
	}
}

.recent-projects {
	p {
		font-weight: 600;
	}
}

.recent-project {
	p {
		font-size: 0.95em;
	}

	a {
		font-size: 0.8em;
		text-decoration: none;
		color: $color-dark;
		transition: 0.2s ease-in-out background-color;

		&:hover {
			background-color: darken($color-light, 10%);
		}
	}

	small {
		color: darken($color-grey, 15%);
	}
}

.project-item {
	transition: 0.1s all ease-in-out;

	p {
		font-size: 1.1em;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
	}

	.badge {
		font-size: 0.7em;
		font-weight: 400;
	}

	.members {
		font-size: 0.8em;
	}

	&:hover {
		background-color: darken($color-light, 5%);
		cursor: pointer;
	}

	.link {
		color: $color-blue;
		transition: all 0.3s ease-in-out;

		&:hover {
			text-decoration: underline;
		}
	}

	.tags {
		font-size: 0.9em;

		.tag {
			font-size: 0.8em;
			font-weight: 500;
		}
	}

	.desc {
		p {
			font-size: 0.7em;
			color: darken($color-grey, 15%);
			font-weight: 400;
		}
	}
}

.center-column {
	flex: 3;
}

.right-column {
	flex: 4;
}

.sidenav {
	flex: 1;
}

.search-wrapper {
	flex: 5;

	.suggestions {
		width: 100%;
		z-index: 10;
		background: $color-white;
		font-size: 1rem;

		.suggestion {
			padding: 0.5rem 1rem;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: $color-grey;
				cursor: pointer;
			}
		}
	}
}

.filter-icon {
	flex: 1;
	font-size: 1.3rem;
	transition: all 0.3 ease-in-out;

	&:hover {
		color: $color-purple;
		cursor: pointer;
	}
}

.search-input {
	width: 100%;
	padding: 0.5rem 1rem;
	outline: none;
	font-size: 1rem;
}

.border-secondary {
	border-color: $color-grey !important;
}
.profile {
	h2 {
		font-size: 1.3em;
	}
	.profile-header {
		p {
			text-transform: capitalize;
		}
	}
	.desc-image {
		font-size: 0.9em;
	}

	.profile-desc {
		p,
		textarea {
			font-size: 0.9em;
			line-height: 30px;
		}

		p {
			word-break: break-word;
		}

		textarea {
			width: 100%;
			height: 17rem;
			margin-bottom: 1rem;

			&::-webkit-scrollbar {
				width: 0; /* Remove scrollbar space */
				background: transparent; /* Optional: just make scrollbar invisible */
			}
		}
	}

	.profile-skill {
		svg {
			color: $color-red;
			font-size: 1.2em;

			&:hover {
				cursor: pointer;
			}
		}
	}

	svg {
		&:hover {
			cursor: pointer;
		}
	}

	.form-control {
		&:focus {
			box-shadow: none;
			border: 1px solid darken($color-purple, 10%);
		}
	}

	select {
		width: 65%;

		&:focus {
			box-shadow: none;
			border: 1px solid $color-purple;
		}
	}

	.item-editable {
		width: 65%;
	}

	.profile-img {
		height: 200px;
		width: 200px;
		margin: 0 auto;

		img {
			width: 100%;
			height: 100%;
			border: 1px solid $color-light;
		}
	}

	.card {
		border-radius: 0;

		.card-text {
			font-size: 0.9em;
		}
	}
}

.profile-app-modal {
	p {
		font-size: 0.8em;
	}

	.status {
		font-weight: 500;
	}

	.accepted {
		color: darken($color-green, 10%);
	}

	.declined {
		color: darken($color-red, 10%);
	}

	.pending {
		color: darken($color-yellow, 10%);
	}

	a {
		font-size: 0.8em;
		text-decoration: none;
		color: $color-dark;
		transition: 0.2s ease-in-out all;

		&:hover {
			color: $color-purple;
		}
	}
}

.project-create {
	form {
		font-size: 0.9em;
	}
	* {
		&:focus {
			box-shadow: none;
			border: 1px solid darken($color-purple, 10%);
		}
	}
	textarea {
		height: 8em;
		resize: none;
	}

	label {
		font-size: 0.9em;
	}

	.skills-select {
		width: 65%;
	}

	.project-skill {
		input {
			width: fit-content;
		}

		label {
			font-size: 0.8em;
		}

		p {
			font-weight: 500;
			text-transform: capitalize;
		}

		svg {
			color: $color-red;
			cursor: pointer;
		}
	}
}

.project {
	.project-details {
		height: fit-content;
		background-color: $color-light;
		font-size: 0.9em;

		.require {
			font-size: 1.1em;
			font-weight: 500;
		}

		.required {
			.intro {
				font-weight: 600;
			}
			.required-skill {
				font-weight: 400;

				span {
					font-weight: 600;
					text-transform: capitalize;
				}
			}
		}

		.repo-url {
			a {
				color: $color-purple;
			}
		}
	}

	.main-desc {
		p {
			font-size: 0.9em;
			white-space: pre-wrap;
			word-break: break-word;
		}

		.project-img {
			height: 200px;
			width: 200px;
			margin: 0 auto;

			img {
				width: 100%;
				height: 100%;
				border: 1px solid $color-light;
				object-fit: cover;
			}
		}

		textarea {
			height: 10em;
		}
	}

	.comments {
		font-size: 0.8em;
	}

	.comment {
		position: relative;
		margin: 1em auto;
	}
	.comment-heading {
		display: flex;
		align-items: center;
		margin-bottom: 1em;
	}

	.comment-wrapper {
		background-color: $color-light;
	}
	.comment-author {
		color: $color-dark;
		font-weight: 600;
		text-decoration: none;
		transition: 0.2s ease-in-out all;

		&:hover {
			color: $color-purple;
		}
	}

	.comment-info {
		p {
			color: darken($color-light, 25%);
			font-size: 0.75em;
		}
	}

	.reply {
		cursor: pointer;
		width: fit-content;
		transition: 0.2s ease-in-out color;

		&:hover {
			color: $color-purple;
		}
	}
	.replies {
		padding-left: 1em;
		margin-left: 0.8em;
	}

	.reply-form {
		label {
			font-size: 0.9em;
		}

		svg {
			transition: all 0.2s ease-in-out;

			&:hover {
				cursor: pointer;
				color: $color-purple;
			}
		}
	}

	.badge {
		font-weight: 500;
	}
}

.project-app-modal {
	textarea {
		height: 10em;
	}
}

.application-list-modal {
	.list-group-item {
		font-size: 0.9em;
		border-radius: 0;
	}
	.app-mot-text {
		word-break: break-word;
	}

	.app-user {
		font-size: 1.1em;
		font-weight: 500;
	}

	.app-skills {
		font-size: 0.9em;
	}
}

.categories {
	.category-item {
		transition: 0.2s all ease-in-out;
		text-decoration: none;

		&:nth-of-type(1) {
			border-left: 1px solid $color-grey;
			border-bottom: 1px solid $color-grey;
			border-top: 1px solid $color-grey;
		}

		&:nth-of-type(2) {
			border: 1px solid $color-grey;
		}

		&:nth-of-type(3) {
			border-left: 1px solid $color-grey;
			border-bottom: 1px solid $color-grey;
		}

		&:nth-of-type(4) {
			border-left: 1px solid $color-grey;
			border-right: 1px solid $color-grey;
			border-bottom: 1px solid $color-grey;
		}

		&:hover {
			background-color: $color-grey;
			cursor: pointer;
			color: $color-purple;
			font-weight: 500;
		}
	}
}

.search-container {
	z-index: 1150;
}

.search-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1100;
	transition: opacity 500ms ease;
}

@media (min-width: 1200px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1300px;
	}
}
