*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  background-color: #8a9aa7;
}

.custom-input {
  -webkit-transition: 0.2s ease-in-out border;
  transition: 0.2s ease-in-out border;
  border-radius: 0 !important;
}

.custom-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #4338ca;
}

select {
  text-transform: capitalize;
}

p {
  margin: 0;
}

.full-height {
  height: 100%;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.four-column {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 30vh;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.app {
  background-color: #f8f8f8;
  min-height: 100vh;
}

.bg-container {
  background-color: #fff;
}

.bg-content {
  background-color: #fff;
}

.bg-primary {
  background-color: #4338ca !important;
}

.bg-secondary {
  background-color: #f8f8f8 !important;
}

.text-darken {
  color: #000000;
}

.text-primary {
  color: #4338ca !important;
}

.text-danger {
  color: #b73939 !important;
}

.btn {
  font-size: 0.8em;
  border-radius: 0;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  background-color: #4338ca;
  border: 1px solid #4338ca;
}

.btn-primary:hover {
  background-color: #28217b;
}

.btn-primary:disabled {
  background-color: #564ccf;
  border: 1px solid #4338ca;
}

.btn-success {
  background-color: #447726;
  border: 1px solid #5a9e32;
}

.btn-success:hover {
  background-color: #2e5119;
}

.btn-success:disabled {
  background-color: #65b138;
  border: 1px solid #5a9e32;
}

.btn-danger {
  background-color: #902d2d;
  border: 1px solid #b73939;
}

.btn-danger:hover {
  background-color: #692121;
}

.btn-danger:disabled {
  background-color: #c54545;
  border: 1px solid #b73939;
}

.btn-secondary {
  background-color: #f8f8f8;
  border: 1px solid #d3d9de;
  color: #000000;
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: #dfdfdf;
  color: #000000;
  border: 1px solid #c4ccd3;
}

.btn-secondary:focus {
  background-color: #dfdfdf;
  color: #000000;
  border: 1px solid #c4ccd3;
}

.form-switch .form-check-input {
  background-image: url("./icons/square-unchecked.svg");
}

.form-switch .form-check-input:checked {
  background-image: url("./icons/square-checked.svg");
  background-color: inherit;
  border-color: #d3d9de;
}

.form-switch .form-check-input:focus {
  border-color: #d3d9de;
  background-image: url("./icons/square-checked.svg");
}

.form-switch label {
  font-size: 0.9em;
  font-weight: 500;
}

.modal-content {
  border-radius: 0;
}

small {
  font-size: 0.75rem;
}

.skill span:first-of-type {
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}

.skill span:first-of-type:hover {
  cursor: pointer;
  color: #4338ca;
}

.skill.active span:first-of-type {
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out all;
  transition: 0.1s ease-in-out all;
}

.skill.active span:first-of-type:hover {
  cursor: pointer;
  color: #d3d9de;
}

.skill.bg-custom {
  background-color: #f8f8f8;
  border: 1px solid #d3d9de;
  color: #000000;
}

.icon-wrapper {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.icon-wrapper a {
  color: #000000;
  text-transform: capitalize;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

.icon-wrapper a:hover {
  color: #4338ca;
}

.icon-wrapper .active {
  color: #4338ca;
}

.icon-wrapper .badge {
  font-size: 10px;
}

.icon-wrapper .logout span,
.icon-wrapper .login span {
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.icon-wrapper .logout span:hover,
.icon-wrapper .login span:hover {
  color: #4338ca;
}

.recent-projects p {
  font-weight: 600;
}

.recent-project p {
  font-size: 0.95em;
}

.recent-project a {
  font-size: 0.8em;
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}

.recent-project a:hover {
  background-color: #dfdfdf;
}

.recent-project small {
  color: #a7b3bd;
}

.project-item {
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

.project-item p {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.project-item .badge {
  font-size: 0.7em;
  font-weight: 400;
}

.project-item .members {
  font-size: 0.8em;
}

.project-item:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.project-item .link {
  color: #0069d9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.project-item .link:hover {
  text-decoration: underline;
}

.project-item .tags {
  font-size: 0.9em;
}

.project-item .tags .tag {
  font-size: 0.8em;
  font-weight: 500;
}

.project-item .desc p {
  font-size: 0.7em;
  color: #a7b3bd;
  font-weight: 400;
}

.center-column {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.right-column {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.sidenav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-wrapper {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.search-wrapper .suggestions {
  width: 100%;
  z-index: 10;
  background: #fff;
  font-size: 1rem;
}

.search-wrapper .suggestions .suggestion {
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-wrapper .suggestions .suggestion:hover {
  background-color: #d3d9de;
  cursor: pointer;
}

.filter-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.3rem;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

.filter-icon:hover {
  color: #4338ca;
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: 1rem;
}

.border-secondary {
  border-color: #d3d9de !important;
}

.profile h2 {
  font-size: 1.3em;
}

.profile .profile-header p {
  text-transform: capitalize;
}

.profile .desc-image {
  font-size: 0.9em;
}

.profile .profile-desc p,
.profile .profile-desc textarea {
  font-size: 0.9em;
  line-height: 30px;
}

.profile .profile-desc p {
  word-break: break-word;
}

.profile .profile-desc textarea {
  width: 100%;
  height: 17rem;
  margin-bottom: 1rem;
}

.profile .profile-desc textarea::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.profile .profile-skill svg {
  color: #b73939;
  font-size: 1.2em;
}

.profile .profile-skill svg:hover {
  cursor: pointer;
}

.profile svg:hover {
  cursor: pointer;
}

.profile .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #352ca3;
}

.profile select {
  width: 65%;
}

.profile select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #4338ca;
}

.profile .item-editable {
  width: 65%;
}

.profile .profile-img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.profile .profile-img img {
  width: 100%;
  height: 100%;
  border: 1px solid #f8f8f8;
}

.profile .card {
  border-radius: 0;
}

.profile .card .card-text {
  font-size: 0.9em;
}

.profile-app-modal p {
  font-size: 0.8em;
}

.profile-app-modal .status {
  font-weight: 500;
}

.profile-app-modal .accepted {
  color: #447726;
}

.profile-app-modal .declined {
  color: #902d2d;
}

.profile-app-modal .pending {
  color: #948d30;
}

.profile-app-modal a {
  font-size: 0.8em;
  text-decoration: none;
  color: #000000;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.profile-app-modal a:hover {
  color: #4338ca;
}

.project-create form {
  font-size: 0.9em;
}

.project-create *:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #352ca3;
}

.project-create textarea {
  height: 8em;
  resize: none;
}

.project-create label {
  font-size: 0.9em;
}

.project-create .skills-select {
  width: 65%;
}

.project-create .project-skill input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.project-create .project-skill label {
  font-size: 0.8em;
}

.project-create .project-skill p {
  font-weight: 500;
  text-transform: capitalize;
}

.project-create .project-skill svg {
  color: #b73939;
  cursor: pointer;
}

.project .project-details {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f8f8f8;
  font-size: 0.9em;
}

.project .project-details .require {
  font-size: 1.1em;
  font-weight: 500;
}

.project .project-details .required .intro {
  font-weight: 600;
}

.project .project-details .required .required-skill {
  font-weight: 400;
}

.project .project-details .required .required-skill span {
  font-weight: 600;
  text-transform: capitalize;
}

.project .project-details .repo-url a {
  color: #4338ca;
}

.project .main-desc p {
  font-size: 0.9em;
  white-space: pre-wrap;
  word-break: break-word;
}

.project .main-desc .project-img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.project .main-desc .project-img img {
  width: 100%;
  height: 100%;
  border: 1px solid #f8f8f8;
  -o-object-fit: cover;
     object-fit: cover;
}

.project .main-desc textarea {
  height: 10em;
}

.project .comments {
  font-size: 0.8em;
}

.project .comment {
  position: relative;
  margin: 1em auto;
}

.project .comment-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.project .comment-wrapper {
  background-color: #f8f8f8;
}

.project .comment-author {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.project .comment-author:hover {
  color: #4338ca;
}

.project .comment-info p {
  color: #b8b8b8;
  font-size: 0.75em;
}

.project .reply {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s ease-in-out color;
  transition: 0.2s ease-in-out color;
}

.project .reply:hover {
  color: #4338ca;
}

.project .replies {
  padding-left: 1em;
  margin-left: 0.8em;
}

.project .reply-form label {
  font-size: 0.9em;
}

.project .reply-form svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.project .reply-form svg:hover {
  cursor: pointer;
  color: #4338ca;
}

.project .badge {
  font-weight: 500;
}

.project-app-modal textarea {
  height: 10em;
}

.application-list-modal .list-group-item {
  font-size: 0.9em;
  border-radius: 0;
}

.application-list-modal .app-mot-text {
  word-break: break-word;
}

.application-list-modal .app-user {
  font-size: 1.1em;
  font-weight: 500;
}

.application-list-modal .app-skills {
  font-size: 0.9em;
}

.categories .category-item {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
}

.categories .category-item:nth-of-type(1) {
  border-left: 1px solid #d3d9de;
  border-bottom: 1px solid #d3d9de;
  border-top: 1px solid #d3d9de;
}

.categories .category-item:nth-of-type(2) {
  border: 1px solid #d3d9de;
}

.categories .category-item:nth-of-type(3) {
  border-left: 1px solid #d3d9de;
  border-bottom: 1px solid #d3d9de;
}

.categories .category-item:nth-of-type(4) {
  border-left: 1px solid #d3d9de;
  border-right: 1px solid #d3d9de;
  border-bottom: 1px solid #d3d9de;
}

.categories .category-item:hover {
  background-color: #d3d9de;
  cursor: pointer;
  color: #4338ca;
  font-weight: 500;
}

.search-container {
  z-index: 1150;
}

.search-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1100;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px;
  }
}
/*# sourceMappingURL=global.css.map */